.sorting-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.upper-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem ;
}

/* button css */


/* lower-container css */
.lower-container{
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    box-shadow:rgba(0, 0, 0, .3) 2px 8px 8px -5px; ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.bars-container{
    height: 100%; 
    width: 100%;
    border: 2px solid black;
    border-radius: 11px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
}
.array-bar{
  width: 20px;
  margin: 0 2px;
  background-color: blue;
  transition: height 0.1s, background-color 0.1s;
}







.middle-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.slider-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}