
/* Navbar Structure CSS */
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}


/* Navbar Logo and logo Image css */
.site-logo{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem;
}


/* navbar button css */

nav > ul  {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
nav > ul > li{
    list-style-type: none;
    padding: 0 1em;
}

.Navbar-button{
    text-decoration: none;
    color: black;
}